/* Basic editor styles */
.ProseMirror,
.TextViewer {
  --divider: rgba(0, 0, 0, 0.12);
  --code-color: rgba(0, 0, 0, 0.05);
  --active-color: #f5f5f5;

  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  pre {
    background: var(--code-color);
    padding: 0.75rem 1rem;

    code {
      color: inherit;
      padding: 0;
      background-color: transparent !important;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid var(--divider);
  }

  hr {
    border: none;
    border-top: 2px solid var(--divider);
    margin: 2rem 0;
  }
}

/* Table-specific styling */
.ProseMirror,
.TextViewer {
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;

    td,
    th {
      min-width: 1em;
      border: thin solid var(--divider);
      padding: 3px 5px;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
    }

    .selectedCell {
      background: var(--active-color);
    }

    p {
      margin: 0;
    }
  }
}

.tableWrapper {
  overflow-x: auto;
}
