@import "core/style.css";

/* 260px and 56px is come from bulma */
.page {
  --app-bar-height: 56px;
  --sidebar-width: 260px;
}

.page .sidebar-layout {
  position: fixed;
  top: var(--app-bar-height);
  width: var(--sidebar-width);
}

.page .main-layout {
  margin-left: var(--sidebar-width);
}

.page .sidebar-layout .b-sidebar {
  height: calc(100vh - var(--app-bar-height));
}

.has-fab {
  --fab-size: 3.5rem;
  --fab-spacing: 1rem;
  margin-bottom: calc(var(--fab-size) + var(--fab-spacing)) !important;
}

.has-fab .is-fab {
  position: fixed;
  right: var(--fab-spacing);
  bottom: var(--fab-spacing);
  border-radius: 100%;
  width: var(--fab-size);
  height: var(--fab-size);
  font-size: 1.25rem;
}

.is-rounded-full {
  border-radius: 100% !important;
}
